<h1>Update the <%=@trail.name.capitalize%> Trail</h1>

<form action="/trails/<%=@trail.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Trail Name:</label>
  <input type="text" value="<%=@trail.name%>" name="name">
  <label for="length">Trail Length:</label>
  <input type="text" value="<%=@trail.length%>" name="length">
  <label for="duration">Trail Duration:</label>
  <input type="text" value="<%=@trail.duration%>" name="duration">
  <label for="location">Trail Location:</label>
  <input type="text" value="<%=@trail.location%>" name="location">
  <label for="difficulty">Trail Difficulty:</label>
  <input type="text" value="<%=@trail.difficulty%>" name="difficulty">
  <input type="submit" value="submit">
</form>
