<h1><%=@trail.name.capitalize%> trail</h1>
<br>
<body>Trail Length: </body><%=@trail.length%>
<br>
<body>Trail Duration: </body><%=@trail.duration%>
<br>
<body>Trail Location: </body>  <%@trail.location.split(" ").map! do |word|%>
<%=word.capitalize%>
<%end%>
<br>
<body>Trail Difficulty: </body><%=@trail.difficulty%>
