<h1><%=@trail.name.capitalize%></h1>
<br>
<body>Trail Length: </body><%=@trail.length%>
<br>
<body>Trail Duration: </body><%=@trail.duration%>
<br>
<body>Trail Location: </body>  <%@trail.location.split(" ").map! do |word|%>
<%=word.capitalize%>
<%end%>
<br>
<body>Trail Difficulty: </body><%=@trail.difficulty%>


<h2>Click Delete if you would like to clear this trail from your library</h2>
<form action="/trails/<%=@trail.id%>/delete" method="post">
  <input id ="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
