<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">


  </head>
  <body id="page-top">

    #current user and @user continues to be grantsmith1256@gmail.com needs to change to actual current user
    <%if is_logged_in? && current_user%>
      <h1>Welcome <%=current_user.email%></h1>
      <br>
      <%@trails.each do |trail|%>
        <%=trail.name%>
        <br>
        <%=trail.length%>
        <br>
        <%=trail.duration%>
        <br>
        <%=trail.location%>
        <br>
        <%=trail.difficulty%>
        <br>
        <br>
      <%end%>
      <br>
      <form action="/trails/new" method="get">
        <input type="submit" value="Create New Trail">
      </form>
      <br>
      <form action="/trails" method="get">
        <input type="submit" value="See All Trails in Website Library">
      </form>
    <%end%>

    <% if !is_logged_in?%>
      <h4>You Must Create An Acoount Please Return <a href="/">Home</a> To Create Your Account</h4>
    <%end%>

  </body>
  <a href="/logout">Log Out</a>
</html>
