<h1>Welcome Back <%=@user.email%></h1>
<%@trails.each do |trail|%>
  <body>
    Trail #<%=trail.id%>
  </body>
<br>
<br>
  <%=trail.name%>
  <br>
  <%=trail.length%>
  <br>
  <%=trail.duration%>
  <br>
  <%=trail.location%>
  <br>
  <%=trail.difficulty%>
  <br>
  <br>
<%end%>
  <br>
  <br>
 #need to be able to delete a trail from here. Do I cross it over to the TrailController or do I have to make
 a route inside of UserController?
 #make sure no other users have that specific trail
<a href="/account">Home</a>

<a href="/logout">Log Out</a>
